/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */

.App {
	
}

.headerName{
	font-size: 18px;
	color: white;
	width: 50vw;
	position: fixed;
	display: flexbox;
	top: 20px;
	left: 100px;
	font-family:Arial, Helvetica, sans-serif;

}

.header {
	background-color: rgb(226, 117, 35);
	width: 100vw;
	height: 60px;
	display: flex;
	position: fixed;
	z-index: 1;
}

.footer {
	background-color: gray;
	width: 100vw;
	height: 150px;
	display: flex;
	position: absolute;
	top: 900px;
}

.nav-button {
	background-color: rgb(226, 117, 35);
	border: none;
	color: white;
	font-size: 18px;
	margin: 0%;
	padding: 0%;
	top: 20px;
	font-family:Arial, Helvetica, sans-serif;
	cursor: pointer;
}

#homeBtn {
	display: flex;
	position: fixed;
	right: 140px;
}

#recipeBtn {
	display: flex;
	position: fixed;
	right: 20px;
}

.social {
	display: flex;
	position: absolute;
	top: 40px;
	left: 70px;
	color: white;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
}

.Logo {
	display: flex;
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.logoBackground{
	display: flex;
	position: absolute;
	bottom: 40px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: rgb(121, 174, 177);
}

#facebook {
	left: 50px;
}

#insta {
	left: 110px;
}

#twitter {
	left: 170px;
}

#cat {
	left: 230px;
}

.devLogo {
	display: flex;
	position: absolute;
	right: 30px;
	top: 25px;
}

.recipePic {
	display: flex;
	position: absolute;
	height: 350px;
	width: 100vw;
	top: 60px;
}

.adHeader1 {
	font-size: 20px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 50px;
	padding-bottom: 20px;
}

.adHeader2 {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	color:  rgb(226, 117, 35);
	font-weight:bold;
	padding-bottom: 20px;
}

.adRecipe {
	color: white;
	padding-bottom: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

.adHeader {
	text-align: center;
	position: relative;
    left: 20%;
    width: 60%;
}

/* recipe card page */

.blue-btn {
	background-color: rgb(121, 174, 177);
	height: 30px;
	width: 100px;
	color: white;
	border: none;
	border-radius:2%;
	cursor: pointer;
}

.blue-btn:hover {
	opacity: .5;
}

.recipe_card {
	width: 300px;
	height: 450px;
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
	justify-content: space-between;
	padding-bottom: 10px;
	box-sizing: border-box;
	border-radius: 3px;
  }
  
  .recipe_card:hover {
	opacity: .5;
  }
  
  .recipe_img_container {
	width: 300px;
	height: 300px;
	margin-bottom: 10px;
  }
  
  img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 3px 3px 0px 0px;
  }
  


/* Recipe Input Page */


.recipe_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.recipe_container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

input:focus {
  outline: none;
}

.search_bar svg {
  height: 80%;
}

.search_bar input {
  width: 100%;
  border-radius: 0 30px 30px 0;
  font-size: 20px;
}

input {
  height: 45px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent
}

.search_bar {
  display: flex;
  position: relative;
  top: 380px;
  min-width: 250px;
  width: 30vw;
  border-radius: 50px;
  border: none;
  background-color: #da773551;
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
  box-sizing: border-box;
}

/* details page */

.banner {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	color: white;
	background-size: cover;
	margin-bottom: 30px;
	
  }

.details_container {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 15px;
	font-family: Arial, Helvetica, sans-serif;
  }

  .details_container h2 {
	color: black;
	text-align: center;
  }

.instruction_container {
	width: 370px;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
	box-sizing: border-box;
	padding: 12px;
	border-radius: 3px;
  }

  .instruction_container h2{
	font-size: 20px;
	padding-bottom: 20px;
  }
  
  .ingredients_container {
	width: 220px;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
	box-sizing: border-box;
	padding: 12px;
	border-radius: 3px;
  }

  .ingredients_container h2 {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
  }

.deatilsHeader {
	text-align: center;
	position: absolute;
	top: 125px;
    left: 20%;
    width: 60%;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	color:  rgb(226, 117, 35);
	font-weight:bold;
	padding-bottom: 20px;
}


/* New Recipe Page */


form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	height: fit-content;
	gap: 15px;
	margin-top: 30px;
	
  }
  
  section {
	display: flex;
	position: relative;
	top: 50px;
	flex-direction: column;
	align-items: center;
  }

  .newRecipeHeader{
	display: flex;
	position: relative;
	top: 20px;
	font-size: 25px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
	padding-top: 10px;
  }
  
   form input, form textarea {
	border: 1px solid #989898;
	border-radius: 3px;
	font-size: 17px;
  }

  form input[type=radio] {
	height: 35px;
	width: 35px;
	border: 3px;
  }
  
  form label {
	font-size: 20px;
  }
  
  form input:focus {
	--color: hsl(var(--primary-color), var(--l));
	border: 1px solid var(--color)
  }
  
  form h5 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  textarea {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .radioBtns {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 25px;
  }
  
  .radioBtns span {
	display: flex;
	align-items: center;
	gap: 5px;
  }
  
  .inputContainer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 30px;
	width: 100%;
  }
  
  .inputContainer input {
	width: 100%;
  }
  .inputContainer div {
	width: 100%;
  }
  
  .ingredient_inputs {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 50%;
  }
  
  ul {
	width: 50%;
  }

  .orange-btn {
	background-color:rgb(226, 117, 35); 
	height: 30px;
	width: 100px;
	color: white;
	border: none;
	border-radius:2%;
	cursor: pointer;
  }



